{% extends "layout.njk" %}
{% block head %}
  <title>Curso |
    {{curso.title}}
  </title>
{% endblock head %}
{% block content %}
  <h1>{{curso.title}}</h1>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa, quia vel, sit hic aspernatur earum esse incidunt voluptatum, doloribus saepe quisquam ea veritatis eos omnis dolor alias beatae quae voluptatibus!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorem quas commodi sequi sunt voluptatum nam, doloremque debitis odit placeat? Eius quaerat quos odio quibusdam totam reiciendis doloribus id. Id.</p>
{% endblock content %}