<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/style.css"/>
    {% block head %}
      <title>Home</title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/">
          <li>Cursos</li>
        </a>
        <a href="/sobre">
          <li>Sobre</li>
        </a>
        <a target="_blank" href="https://discordapp.com/invite/gCRAFhc">
          <li>Comunidade</li>
        </a >
        <a href="mailto:oi@rocketseat.com.br">
          <li>Email</li>
        </a>
        <a href="tel:+5547992078767">
          <li>Telefone</li>
        </a>
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>