{% extends "layout.njk" %}
{% block head %}
  <title>Sobre</title>
{% endblock head %}
{% block content %}
  <section>
    <main id="conteudo-sobre">
      <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="rocketseat"/>
      <h1>Rocketseat</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad id ipsa, esse praesentium, quae natus vel voluptatum est molestiae reprehenderit, iure distinctio incidunt tempora nisi culpa minima ipsum iusto sint.
      </p>
    </main>
    <footer>
      <ul>
        <a href="https://github.com/Rocketseat" target="_blank">
          <li>Github</li>
        </a >
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">
          <li>Instagram</li>
        </a >
        <a href="https://pt-br.facebook.com/rocketseat/" target="_blank">
          <li>Facebook</li>
        </a >
      </ul>
    </footer>
  </section>
{% endblock content %}